@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
    border: 0;
    padding: 0;
}
#main{
    background-color: white;
}
.top-nav img{
    height: 50px;
    border-radius: 50px;
    border: 2px solid black;
}
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
  overflow: hidden;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.m1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.pics{
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 900px;
  margin-top: 50px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin-right: 40px;
    height: 230px;
    width: 250px;
    text-align: center;
    color: whitesmoke;
    align-items:center;
}
.d-block{
  height: 300px;
}
.e1{
  height: 50px;
}
.m2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
}
.m3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(5, 84, 255);
    color: white;
    font-size: 27px;
    height: 200px;
    margin-top: 50px;
}
.main2{
    margin-top: 50px;
    text-align: center;
}
.h4{
  font-size: 30px;
}
.p4{
  font-size: 15px;
}
.m4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.btn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .main3{
    color: white;
    background-color: darkcyan;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 main3, .m5{
  margin-top: 50px;
 }
  main3, .b1{
    height: 40px;
    width: 180px;
    border-radius: 40px;
  }
  .b1:hover{
    color: black;
     background-color: orange;
   }
.main4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
main4, .img1{
  height: 270px;
  margin-right: 20px;
  box-shadow: -30px 54px 0px 7px blueviolet;
  align-items: start;
  position: static;
  right: 20px;
}
.r{
  margin-top: 100px;
}

main4, .b2{
  border-radius: 30px;
  color: white;
  background-color: rgb(42, 42, 240);
  height: 40px;
  width: 180px;
  border-radius: 40px;
}
.p4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2:hover{
 color: black;
  background-color: orange;
}
.rights{
  text-align: center;
}
.text-footer{
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}









@media(max-width:999px){
  html{
    font-size: 40%;
  }
  .m1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.pics{
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  margin-top: 50px;
}
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 80px;
    width: 180px;
    text-align: center;
    color: whitesmoke;
    align-items:center;
    margin-left: 30px;
}
.e1{
  height: 20px;
}
.m2{
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  font-size: 10px;
}
.cars12{
  height: 100px;
}
.e2{
  height: 20px;
}
.m4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.m3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(5, 84, 255);
  color: white;
  font-size: 10px;
  height: 70px;
  margin-top: 20px;
}
.main2{
  margin-top: 20px;
  text-align: center;
}
.h4{
font-size: 20px;
}
.p4{
font-size: 7px;
}
.main3{
  color: white;
  background-color: darkcyan;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main3, .m5{
  margin-top: 20px;
 }
  main3, .b1{
    height: 20px;
    width: 50px;
    border-radius: 40px;
  }
  .b1:hover{
    color: black;
     background-color: orange;
   }

   .main4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }
  .p1{
    margin-top: 30px;
  }
  main4, .img1{
    height: 100px;
    box-shadow: -30px 20px 0px 2px blueviolet;
    align-items: center;
    position: static;
    right: 20px;
  }
  .r{
    margin-top: 50px;
  }
  
  main4, .b2{
    border-radius: 30px;
    color: white;
    background-color: rgb(42, 42, 240);
    height: 20px;
    width: 50px;
    border-radius: 40px;
  }
  .b2:hover{
   color: black;
    background-color: orange;
  }
  .rights{
    text-align: center;
  }
}
